.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

footer {
      padding: 1em;
      text-align: center;
      background-color: hsl(182, 84%, 50%);
      border-color: hsl(182, 84%, 50%);
      bottom: 0;
      position: absolute;
      color: white;
      width: 100%;
}

footer h4{
      height: 10%;
}

.painel {
      background-color: hsl(182, 84%, 50%);
      border-color: hsl(182, 84%, 50%);
      color: white;
}

.login_button {
      background-color:white;
      border-color:white;
      color:  hsl(182, 84%, 50%);
      margin-right: 5%;
}

.painel_login {
      background-color: hsl(182, 84%, 50%);
      border-color: hsl(182, 84%, 50%);
      border-radius: 5px;
      margin-top: 5%;
      color: #f3f3f3;
      max-width: 460px;
      
}

.online {
      color: hsl(140, 84%, 50%);
      width: 50%;
      margin-left: 2%;
}

.input_text{
      border-color: hsl(182, 84%, 50%);
      border-radius: 2px;
     
}

.input_label{
      margin-left: 2%;
      color: white;
}

.loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      display: none;
}

li a{
      opacity: .8;
      color:white !important;
     
}

div a:hover{
      opacity: 1;
}

div a{
      opacity: .8;
      color: hsl(140, 84%, 50%);
}

li a:hover{
      opacity: 1;
}

.painel_img {
      opacity: .8;
      padding: 10 10 10 10;
      border-color:black;
      border-radius: 10px;
      margin-left: 2%;
}

.painel_img :hover{
      border-color:black;
      border-radius: 10px;
      opacity: 1;
      background-color:  rgb(0, 255, 255);
}

.painel_img_dark {
      opacity: .5;
      padding: 10 10 10 10;
      border-radius: 10px;
      margin-left: 2%;
      width: 30%;
      size: 30px;
      display:inline-flex;
}

.aguardando {
       position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
    
@keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
}

@media screen and (min-width: 600px) {
      .painel_login {
            margin-left: 30%;
      }
      .input_text{
            min-width: 440px;
      }

      img {
            width: 80%;
            height: 80%;
            display:inline-flex;
      }
     
}
@media screen and (min-width: 360px) {
      .input_text{
            max-width: 339px;
      }
      img {
            width: 45px;
            height: 45px;
            display:inline-flex;
      }
      .painel_img {
            opacity: .8;
            padding: 10 10 10 10;
            border-color:black;
            border-radius: 10px;
            margin-left: 2%;
            width: 30%;
            display:inline-flex;
      }
      .painel_img_dark {
            opacity: .5;
            padding: 10 10 10 10;
            border-radius: 10px;
            margin-left: 2%;
            width: 30%;
            display:inline-flex;
      }
}

canvas:nth-of-type(2) {
      display: flexbox;
} 